.swiper-section {
    position: relative;
    .swiper1-prev {
      position: absolute;
      color: black;
      left: -30px;
    }
    .swiper1-next {
      position: absolute;
      color: black;
      right: -30px;
    }
    .swiper1-page {
      position: absolute;
      color: black !important;
      bottom: -20px !important;
    }
  }